services:
  plex:
    image: linuxserver/plex:1.43.0
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /mnt/applications/plex:/config
      - /mnt/space/media:/media:ro
      - /etc/localtime:/etc/localtime:ro
    devices:
      - /dev/dri:/dev/dri
    network_mode: host
    restart: unless-stopped
