services:
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.7
    environment:
      PAPERLESS_REDIS: redis://valkey:6379
      PAPERLESS_DBHOST: postgres
      PAPERLESS_SECRET_KEY: ${SECRET_KEY}
      PAPERLESS_OCR_LANGUAGE: deu
      PAPERLESS_URL: https://paperless.${DOMAIN}
    volumes:
      - /mnt/applications/paperless-ngx/data:/usr/src/paperless/data
      - /mnt/applications/paperless-ngx/media:/usr/src/paperless/media
      - /etc/localtime:/etc/localtime:ro
    networks:
      - newt_default
      - default
    healthcheck:
      disable: true
    labels:
      - pangolin.proxy-resources.paperless.name=Paperless
      - pangolin.proxy-resources.paperless.full-domain=paperless.${DOMAIN}
      - pangolin.proxy-resources.paperless.protocol=http
      - pangolin.proxy-resources.paperless.auth.sso-enabled=true
      - pangolin.proxy-resources.paperless.targets[0].method=http
      - pangolin.proxy-resources.paperless.targets[0].port=8000
    restart: unless-stopped
    depends_on:
      - postgres
      - valkey

  postgres:
    image: postgres:18.2-alpine3.23
    shm_size: 256mb
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    volumes:
      - /mnt/applications/paperless-ngx/postgres:/var/lib/postgresql/18/docker
    restart: unless-stopped

  valkey:
    image: valkey/valkey:9.0.2-alpine
    volumes:
      - /mnt/applications/paperless-ngx/valkey:/data
    restart: unless-stopped

networks:
  newt_default:
    external: true
