services:
  app:
    image: ghcr.io/karakeep-app/karakeep:0.31.0
    environment:
      DATA_DIR: /data
      NEXTAUTH_URL: "https://karakeep.${DOMAIN}"
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      MEILI_ADDR: http://meilisearch:7700
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      DISABLE_NEW_RELEASE_CHECK: "true"
      MAX_ASSET_SIZE_MB: 200
      # https://docs.karakeep.app/configuration#authentication--signup
      DISABLE_SIGNUPS: "true"
      DISABLE_PASSWORD_AUTH: "true"
      OAUTH_PROVIDER_NAME: "Pocket ID"
      OAUTH_WELLKNOWN_URL: "${OIDC_ISSUER_URL}/.well-known/openid-configuration"
      OAUTH_CLIENT_ID: ${OIDC_CLIENT_ID}
      OAUTH_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
      # https://docs.karakeep.app/configuration#inference-configs-for-automatic-tagging
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      # https://docs.karakeep.app/configuration#crawler-configs
      BROWSER_WEB_URL: http://chrome:9222
      CRAWLER_FULL_PAGE_SCREENSHOT: "true"
      CRAWLER_FULL_PAGE_ARCHIVE: "true"
      CRAWLER_VIDEO_DOWNLOAD: "true"
      CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: "-1"
    volumes:
      - /mnt/applications/karakeep/data:/data
      - /etc/localtime:/etc/localtime:ro
    networks:
      - default
      - newt_default
    healthcheck:
      disable: true
    labels:
      - pangolin.proxy-resources.karakeep.name=Karakeep
      - pangolin.proxy-resources.karakeep.full-domain=karakeep.${DOMAIN}
      - pangolin.proxy-resources.karakeep.protocol=http
      - pangolin.proxy-resources.karakeep.auth.sso-enabled=true
      - pangolin.proxy-resources.karakeep.targets[0].method=http
      - pangolin.proxy-resources.karakeep.targets[0].port=3000
      - pangolin.proxy-resources.karakeep.rules[0].action=allow
      - pangolin.proxy-resources.karakeep.rules[0].match=path
      - pangolin.proxy-resources.karakeep.rules[0].value=/api/*
    restart: unless-stopped

  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    restart: unless-stopped

  meilisearch:
    image: getmeili/meilisearch:v1.29.0
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - /mnt/applications/karakeep/meilisearch:/meili_data
    restart: unless-stopped

networks:
  newt_default:
    external: true
