services:
  app:
    image: ghcr.io/karakeep-app/karakeep:0.28.0
    environment:
      DATA_DIR: /data
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      MEILI_ADDR: http://meilisearch:7700
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      BROWSER_WEB_URL: http://chrome:9222
      MAX_ASSET_SIZE_MB: 200
      DISABLE_NEW_RELEASE_CHECK: "true"
      DISABLE_SIGNUPS: "true"
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      CRAWLER_FULL_PAGE_SCREENSHOT: "true"
      CRAWLER_FULL_PAGE_ARCHIVE: "true"
      CRAWLER_VIDEO_DOWNLOAD: "true"
      CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: "-1"
    volumes:
      - /mnt/applications/karakeep/data:/data
    networks:
      - default
      - traefik_default
    healthcheck:
      disable: true
    labels:
      traefik.enable: true
      traefik.http.routers.karakeep.entrypoints: websecure
      traefik.http.routers.karakeep.rule: Host(`${DOMAIN}`)
    restart: unless-stopped

  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    restart: unless-stopped

  meilisearch:
    image: getmeili/meilisearch:v1.27.0
    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_NO_ANALYTICS: "true"
    volumes:
      - /mnt/applications/karakeep/meilisearch:/meili_data
    restart: unless-stopped

networks:
  traefik_default:
    external: true
