services:
  booklore:
    image: ghcr.io/booklore-app/booklore:v1.18.5
    environment:
      - PUID=1000
      - PGID=1000
      - DATABASE_URL=jdbc:mariadb://mariadb:3306/booklore
      - DATABASE_USERNAME=booklore
      - DATABASE_PASSWORD=booklore
      - SWAGGER_ENABLED=false
    volumes:
      - /mnt/applications/booklore/data:/app/data
      - /mnt/applications/booklore/books:/books
      - /etc/localtime:/etc/localtime:ro
    networks:
      - default
      - newt_default
    labels:
      - pangolin.proxy-resources.booklore.name=Booklore
      - pangolin.proxy-resources.booklore.full-domain=booklore.${DOMAIN}
      - pangolin.proxy-resources.booklore.protocol=http
      - pangolin.proxy-resources.booklore.auth.sso-enabled=true
      - pangolin.proxy-resources.booklore.targets[0].method=http
      - pangolin.proxy-resources.booklore.targets[0].port=6060
    restart: unless-stopped

  mariadb:
    image: lscr.io/linuxserver/mariadb:11.4.5
    environment:
      - PUID=1000
      - PGID=1000
      - MYSQL_ROOT_PASSWORD=super_secure_password
      - MYSQL_DATABASE=booklore
      - MYSQL_USER=booklore
      - MYSQL_PASSWORD=booklore
    volumes:
      - /mnt/applications/booklore/mariadb:/config
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      disable: true
    restart: unless-stopped

networks:
  newt_default:
    external: true
